body {
  margin: 0;
  padding: 0;
  background: #120136;
}

.container {
  height: 510px;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  perspective: 1500px;
}

.flap {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  height: 500px;
  width: 400px;
  background: #e79cc2;
  text-align: center;
  border-radius: 10px 50px 50px 10px;
  border-top: 6px double #f18867;
  border-right: 6px double #e85f99;
  border-bottom: 6px double #50bda1;
  border-left: 10px dotted black;
  transform-origin: left;
  transition: 2s;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 10px 1px #383838;
  cursor: pointer;
}

.flap:nth-child(1) {
  font-family: 'Notable', sans-serif;
  background: #e79cc2;
  position: relative;
  top: 0;
  z-index: 6;
  border: 4px solid #1d1b38;
  border-left: 10px dotted black;
}

.flap:nth-child(2) {
  position: relative;
  top: -500px;
  z-index: 5;
}

.flap:nth-child(3) {
  position: relative;
  top: -1000px;
  z-index: 4;
}

.flap:nth-child(4) {
  position: relative;
  top: -1500px;
  z-index: 3;
}

.flap:nth-child(5) {
  position: relative;
  top: -2000px;
  z-index: 2;
}

.flap:nth-child(6) {
  position: relative;
  top: -2500px;
  z-index: 1;
}

.book {
  width: 100%;
  font-size: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: #142850;
  letter-spacing: 4px;
  -webkit-text-stroke: 1px black;
}

h3 {
  position: absolute;
  left: 20px;
  top: 300px;
  color: #142850;
  -webkit-text-stroke: 1px black;
  letter-spacing: 6px;
}

.row {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 70px;
  border: 10px dotted #1d1b38;
  border-bottom: none;
  width: 60%;
}

.hr {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 60px;
  border: 10px dotted #000;
  border-bottom: none;
  width: 40%;
}

.intro {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -20px;
  letter-spacing: 3px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.click-to-open {
  position: absolute;
  bottom: 0;
  right: 6px;
}

h2 {
  font-family: 'Tangerine', cursive;
  width: 100%;
  position: absolute;
  font-size: 42px;
  color: black;
  top: -10px;
  left: 50%;
  transform: translate(-50%);
  text-shadow: 2px 2px #000, 2px 2px #000, 2px 2px #000;
  text-transform: uppercase;
}

.art {
  box-sizing: border-box;
  border: 5px double #336d88;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 380px;
  height: auto;
  border-radius: 50px;
}

a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  text-decoration: none;
  color: grey;
  opacity: 0.5;
}

.sign {
  position: absolute;
  right: -10px;
  bottom: 10px;
  width: 100px;
  height: auto;
}
