body {
  margin: 0;
  padding: 0;
  background: black;
}

.container {
  height: 510px;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  perspective: 1500px;
}

.flap {
  box-sizing: border-box;
  height: 500px;
  width: 400px;
  background: white;
  text-align: center;
  border-radius: 10px 30px 30px 10px;
  border: 5px solid red;
  border-left: 10px dotted black;
  transform-origin: left;
  transition: 2s;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 10px 1px #383838;
}

.flap:nth-child(1) {
  position: relative;
  top: 0;
  z-index: 4;
  border: none;
  border-left: 10px dotted black;
}

.flap:nth-child(2) {
  position: relative;
  top: -500px;
  z-index: 3;
}

.flap:nth-child(3) {
  position: relative;
  top: -1000px;
  z-index: 2;
}

.flap:nth-child(4) {
  position: relative;
  top: -1500px;
  z-index: 1;
}
